/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Helvetica", sans-serif;
}

#top-header {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  padding: 10px 0 30px 0;
}

ul.notice {
  padding: 10px 40px;
  font-size: 1.5rem;
  color: red;
}

.siteName {
  font-size: 2rem;
  text-align: left;
}

.siteName a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", "Rock Salt", sans-serif;
}

#tools {
  font-size: 1rem;
  text-align: right;
}

#tools a{
  text-decoration: none;
  color: black;
}

nav ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  background-color: black;
  padding: 20px 10px  ;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.welcome-title {
  font-size: 1.4rem;
  padding: 15px 0;
  font-family: "Raleway", "Rock Salt", sans-serif;
}

.vehicle-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px 20px;
}

.car-details {
  grid-column: 1/2;
  grid-row: 1/2;
  color: rgb(48, 129, 236);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px 0 0;
  margin: 0 30px 0 0;
}

.car-details p:first-child {
  font-weight: bold;
  font-size: 1.3rem;
}

.car-details p:nth-child(2) {
  font-size: 1rem;
}

.today {
  width: 120px;
  height: 40px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.vehicle {
  grid-column: 1/3;
  grid-row: 1/3;
  max-width: 100%;
  z-index: -1;
}

/* -----Vehicle reviews------ */
.vehicle-reviews {
  padding: 10px 0;
}

.vehicle-reviews h2 {
  padding: 10px 0;
  font-size: 1.4rem;
  font-family: "Raleway", "Rock Salt", sans-serif;
}

.reviews li {
  padding: 5px 0;
  list-style: none;
}

/* ----Vehicle Upgrades---- */
.vehicle-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.upgrade-title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 1.4rem;
  font-family: "Raleway", "Rock Salt", sans-serif;
}

.flux {
  grid-column: 1/2;
  grid-row: 2/3;
  place-content: center;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  text-align: center;
  background-color: aqua;
}

.flux img {
  padding: 5px 45px;
}

.flame {
  grid-column: 2/3;
  grid-row: 2/3;
  place-content: center;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  text-align: center;
  background-color: aqua;

}

.flame img {
  padding: 5px 45px;
}

.bumper {
  grid-column: 1/2;
  grid-row: 3/4;
  place-content: center;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  text-align: center;
  background-color: aqua;

}

.bumper img {
  padding: 5px 45px;
}

.hub {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  place-content: center;
  grid-template-rows: auto auto;
  align-items: center;
  text-align: center;
  background-color: aqua;

}

.hub img {
  padding: 5px 45px;
}

/* --------Footer------- */
.footer-text {
  padding: 10px 0;
}

/*--- Small view of sub pages ----*/
main {
  padding: 10px 20px;
}

main h1 {
  font-size: 2rem;
}

#product-display img {
  width: 100%;
}

.details {
  line-height: 1.5rem;
}

#inv-display {
  list-style-type: none;
  text-align: center;
  /* line-height: 3rem; */
}

#inv-display li {
  margin: 30px 0;
  border: 3px solid aqua;
}

  /******** Log in Page ********/

  form#loginForm {
    background-color: aqua;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .data-box label {
    display: block;
    margin-bottom: 5px;
  }

  .data-box label span {
    display: block;
    margin-bottom: 5px;
    font-family: "Rock Salt", sans-serif;
    font-size: 0.9rem;
  }

  #loginForm button {
    font-size: 1rem;
    padding: 5px;
  }

  #registerForm {
    background-color: aqua;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .flash-message {
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 1.1rem;
  }

  #registerForm button {
    font-size: 1rem;
    padding: 5px;
  }

/* LARGE VIEW STYLES */
@media only screen and (min-width: 1300px) {
  html {
    padding: 20px 70px;
    background-image:url(../images/site/checkerboard.jpg)
  }

  body {
    border: 4px solid aqua;
    border-radius: 1%;
    padding: 0 20px;
    background-color: white;
  }

  .siteName {
    font-size: 3.5rem;
  }

  #tools {
    font-size: 1.4rem;
  }

  nav ul li a {
    font-size: 1.8rem;
  }

  /* -------Body------ */
  .welcome-title {
    font-size: 3.5rem;
  }
  
  .vehicle-info {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .car-details {
    padding: 60px 0 0 140px;
    line-height: 40px;
    z-index: 2;
  }

  .car-details p:first-child {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  
  .car-details p:nth-child(2) {
    font-size: 2rem;
    padding-bottom: 40px;
  }
  
  .today {
    width: 220px;
    height: 70px;
  }

  .vehicle {
    grid-column: 1/4;
    width: 1400px;
    z-index: 1;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    place-content: center;
    justify-content: center;
  }

  .vehicle-upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .upgrade-title {
    font-size: 2.4rem;
    font-weight: bolder;
    padding: 60px 0;
  }

  .vehicle-upgrades div img {
    width: 200px;
  }

  .vehicle-upgrades div a {
    font-size: 1.5rem;
  }

/* ------Reviews------- */

  .vehicle-reviews {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .vehicle-reviews h2 {
    font-size: 2.4rem;
    font-weight: bolder;
    padding: 60px 0;
  }

  .reviews li {
    padding: 5px 0;
    font-size: 2rem;
    line-height: 40px;
  }

  /* ---------footer------- */
  .footer-text {
    font-size: 1.5rem;
  }

  /* Large view of sub pages */
  #product-display img {
    width: auto;
    text-align: center;
  }

  main {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  main h1 {
    font-size: 2rem;
  }
  
  .namePrice {
    font-size: 1.2rem;
  }
  
  .details {
    line-height: 2rem;
    font-size: 1.5rem;
  }
  
  #inv-display {
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  #inv-display li a img{
    width: auto;
    height: 200px;
  }
  
  #inv-display li {
    margin: 10px 60px;
  }

  /******** Log in Page ********/

  form#loginForm{
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin: 0 400px;
  }

  .data-box label span {
    font-size: 1.2rem;
  }

  #loginForm button {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  #registerForm {
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin: 0 400px;
  }

  #registerForm button {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  ul.notice li {
    font-size: 1.5rem;
  }

}